*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right top, #050837, hsl(80, 100%, 24%), #935f00c9, #56bf00, #ebcb12);
   


    
}

    





